{# Import the theme's layout. #}
{% extends "!layout.html" %}

{% block sidebartoc %}
    {% include "globaltoc.html" %}
{% endblock %}


{%- block content %}
{{ navBar() }}
<div class="container">
  <div class="row">


    <div class="span10">
      {% block body %}{% endblock %}
    </div>
    <div class="span2">
        {% include "twitter.html" %}
    </div>

  </div>
</div>
{%- endblock %}




{# silence prev and next topic #}
{% block sidebarrel %}
{% endblock %}

{# silence search #}
{% block sidebarsearch %}
{% endblock %}


