<h3>Noticias</h3>

<a class="twitter-timeline"  href="https://twitter.com/SciPyAr/scipyar"  data-widget-id="373257193975316480">Tweets de @SciPyAr/scipyar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

